
<div class="container-fluid well" style="margin-top:-20px">
	<div id="myCarousel" class="carousel slide">
		<!-- Slider  starts  -->
		<div class="row">
			<!-- Slide 01 goes here-->
			<div class="item active">
				<div class="container">
					<div class="row-fluid">
						<div class="col-lg-6">
							<!-- The classes animated, bounceInRight are used to animate the slide-->
							<div class="animated fadeInLeftBig">
								<div class="row">
									<span class="span4"></span>
									<div class="span8">
										<h2>Domotica el Termostato Inteligente</h2>
										<i class="icon-check"></i> Una nueva manera de controlar la temperatura de su hogar<br><br>
										<i class="icon-check"></i> Ofresemos este espectacular producto<br><br>
										<i class="icon-check"></i> Mostrandole el ahorro de energia de su hogar<br><br>
										<i class="icon-check"></i> Con opciones de configuracion para su manejo<br><br>
										<i class="icon-check"></i> Podra controlar remotamente su hogar tambien<br><br>
										<i class="icon-check"></i> Adquieralo ahora mismo<br><br>

									</div>
								</div>
							</div>
						</div>
						<div class="span6">
							<img class="animated fadeInRightBig" src="assets/slide01.jpg" alt="" height="300" width="500">
						</div>
					</div>
				</div>
			</div>
		<!-- Slider ends here -->

		<!-- Left rigt controls of the slider -->
	</div>
</div>

